<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liferegisterdiary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".SearchMoney"
            android:exported="false" />
        <activity
            android:name=".ChatBOT"
            android:exported="false" />
        <activity
            android:name=".HelpListOfPosibilities"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".BoxEconomyGraphics"
            android:exported="false" />
        <activity
            android:name=".TimeDistributionGraphics"
            android:exported="false" />
        <activity
            android:name=".EconomyGraphics"
            android:exported="false" />
        <activity
            android:name=".Password"
            android:exported="false" />
        <activity
            android:name=".FeelingsGraphics"
            android:exported="false" />
        <activity
            android:name=".BoxEconomy"
            android:exported="false" />
        <activity
            android:name=".Calendary"
            android:exported="false" />
        <activity
            android:name=".DrugsConfigure"
            android:exported="false" />
        <activity
            android:name=".FeelingsConfigure"
            android:exported="false" />
        <activity
            android:name=".ActivitiesConfigure"
            android:exported="false" />
        <activity
            android:name=".ProfileConfigure"
            android:exported="false" />
        <activity
            android:name=".DrugDiaryCounter"
            android:exported="false" />
        <activity
            android:name=".GratirudeDiary"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".DreamDiary"
            android:exported="false" />
        <activity
            android:name=".Personaldiary"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Graphics"
            android:exported="false" />
        <activity
            android:name=".DrugDiary"
            android:exported="false" />
        <activity
            android:name=".Feelings"
            android:exported="false" />
        <activity
            android:name=".TimeDistribution"
            android:exported="false" />
        <activity
            android:name=".TAccounts"
            android:exported="false" />
        <activity
            android:name=".Economy"
            android:exported="false" />
        <activity
            android:name=".Diary"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>